.SumoSelect > .optWrapper.multiple > .options li.opt {
  padding-right: 35px !important;
  padding-left: 0 !important;
}
.SumoSelect .select-all {
  padding: 0 35px 0 0 !important;
  text-align: right;
}
.SumoSelect > .optWrapper.multiple > .options li.opt span,
.SumoSelect .select-all > span {
  margin-right: -35px !important;
  margin-left: 0 !important;
}
